name: Terraform CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::955967371588:role/aws-github-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Fmt Check
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Run tfsec
        # Use official tfsec container to scan the repository
        run: docker run --rm -v "${{ github.workspace }}:/src" aquasecurity/tfsec:latest /src

      - name: Terraform Plan
        run: terraform plan
